
* {
  margin: auto;
  overflow-x: hidden;
}

.nav {
  position: sticky;
  top: 0;
  padding: 15px;
  background-color: lightgreen;
  text-align: center;
  width: 100%;
  height: 15pt;
  margin-bottom: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back_img {
  min-height: 100vh;
  width: 90%;
  border: 1px solid black;
  text-align: center;
  box-sizing: border-box;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  background-image: url("https://media.gettyimages.com/photos/colorful-sunset-picture-id1181315370?s=2048x2048");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}
.ui_container {
  position: absolute;
  bottom: 5px;
  /* background-color: #f88d02; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 25rem;
  width: 60%;
}
.res {
  background-color: brown;
  width: 90%;
  max-height: 45vh;
  min-height: 40vh;
  /* opacity: 0; */
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image {
  flex: 1;
  max-width: 15rem;
  max-height: 15rem;
  margin: 10px;
}
.drag-area {
  height: auto;
  width: 90%;
  bottom: 0;
  border: 2px dashed #fff;
  border-radius: 16px;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  /* From https://css.glass */
  background: rgba(247, 247, 247, 0.36);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  overflow: hidden;
}
.drag-area.active {
  border: 2px solid #fff;
}
.drag-area header {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.drag-area button {
  padding: 10px 25px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 20px;
  color: #02f827;
  cursor: pointer;
}

.details {
  background-color: black;
  color: white;
  margin: 2rem 0;
  height: fit-content;
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.motive,
.future {
  flex: 1;
  padding: 5px;
  box-sizing: border-box;
}

.motive_heading {
  text-align: center;
}

.entity{
  display: flex;
  text-align: center;
}

.heading1{
    flex:9;
    background-color: coral;
    text-align: center;
}

.footer-container{
    display:flex;
}
.contributor{
    flex:3;
    text-align: center;
    background-color: yellow;
}

.footer-bar{
  display: flex;
  margin: 1vw;
  border: 2px solid lightgreen;
  background-color: #f7f7f7;
  gap: 1rem;
}

.copyright{
  flex: 8;
  text-align: left;
  padding-left: 10pt;
  font-size: small;
}

.btn{
  flex: 1;
  text-align: center;
}