.no-opacity {
    opacity: 0;
  }
  
  * {
    margin: auto;
    overflow-x: hidden;
  }
  
  .nav {
    position: sticky;
    top: 0;
    padding: 15px;
    text-align: center;
    width: 100%;
    height: 15pt;
    margin-bottom: 1rem;
    font-size: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.11);
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  .back_img {
    min-height: 600px;
    width: 95%;
    text-align: center;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    background-image: url("https://images.all-free-download.com/images/graphiclarge/barn_building_cloud_dark_farm_field_grass_night_597751.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }
  .ui_container {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .res {
    color: #fff;
    width: 90%;
    max-height: 45vh;
    min-height: 40vh;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.353);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.371);
    overflow: auto;
    text-align: center;
  }
  
  .res_btn > button {
    margin: 2rem 1rem;
    margin-bottom: 1px;
    height: 3rem;
    font-size: 22px;
    font-weight: 500;
    color: #02f827;
    border: none;
    outline: none;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    cursor: pointer;
  }
  
  .res_btn > button:disabled {
    cursor: not-allowed;
  }
  
  .drag-area {
    height: auto;
    min-width: 90%;
    bottom: 0;
    border: 2px dashed #fff;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    /* From https://css.glass */
    background: rgba(247, 247, 247, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    overflow: hidden;
  }
  .drag-area.active {
    border: 2px solid #fff;
  }
  .drag-area header {
    font-size: 20px;
    font-weight: 500;
    color: black;
  }
  .drag-area button,  .drag-area input {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    color: #02f827;
    cursor: pointer;
  }
  
  .disease_images {
    display: none;
  }
  
  .images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .image {
    flex: 1;
    max-width: 15rem;
    max-height: 15rem;
    margin: 10px;
  }
  
  .details {
    background-color: white;
    color: black;
    margin: 2rem 0;
    height: fit-content;
    width: 90%;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3rem;
  }
  
  @media only screen and (max-width: 700px) {
    .details {
      flex-direction: column;
    }
  }
  
  .points_to_remember,
  .future {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    /* background-color: pink; */
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-size: 20px;
  }
  
  .loading {
    width: 48px;
    height: 48px;
    /* display: none; */
  }
  
  .details_heading {
    text-align: center;
    margin-bottom: 6%;
  }
  
  /* Footer */
  
  .footer {
    border-top: 2px solid red;
    background-color: black;
  }
  
  .footer-container {
    display: flex;
  }
  .contributor {
    flex: 3;
    text-align: center;
    color: white;
  }
  
  .profiles {
    display: inline-block;
  }
  
  .footer-bar {
    display: flex;
    margin: 1vw;
    color: white;
    gap: 1rem;
    justify-content: space-around;
  }
  
  .copyright {
    margin-left: 0;
    padding-left: 10pt;
    font-size: small;
  }
  
  .project_links {
    margin-right: 0;
  }
  .btn {
    color: #fff;
  }
  
  /* animation */
  
  .res {
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }
  
  @keyframes visitedAnimation {
    0% {
      transform: scale(0);
      border-radius: 100%;
    }
    50% {
      transform: scale(1.5);
      border-radius: 100%;
    }
    100% {
      transform: scale(1);
    }
  }